@import "../variable";

.header {
  
    .header_container{
        display: flex;
        justify-content: space-between;
        align-items: center;
          .text {

             .web {
              color: $textColor;
             }
        }
        .border-bg {
          border-left: 1px solid white;
          border-right: 1px solid white;
          border-bottom: 1px solid white;
          border-top: 1px solid white;
          height: 50px;
          width: 50px;
          border-radius: 50%;
          opacity: 0;
          animation: blink 1s linear infinite;
          position: absolute;
          right: 0;
          @keyframes blink{
            0%{opacity: 0;}
            50%{opacity: .5;}
            100%{opacity: 1;}
            }
            
        .bg-toggle {
          position:absolute;
          background: white;
          height: 40px;
          width: 40px;
          border-radius: 50%;
          left: 4px;
          top: 4px;
        }
      }
    }
    
 #menuToggle
 {
   position: relative;
   display: block;
   -webkit-user-select: none;
   user-select: none;
 }
 
 #menuToggle a
 {
        text-decoration: none;
        color: black;
        cursor: pointer;
        transition: 2s;
 }
 
 #menuToggle a:hover
 {
    letter-spacing: 10px;
    font-family: $fontStyle;
    font-weight: 800;
 }
 a:before {
    content:"";
    display:block;
    color:black;
    font-family: emoji;
    position: relative;
    letter-spacing: normal;
    transform: scale(0);
    transition: width .5s ease-in-out;
    height: 30px;
    width: 266px;
    top: 31px;
    right: -514px;


    }
    a:hover:before {
        transform: scale(1);
        opacity: 1;
        animation: right_to_left .5s ease;
        @keyframes right_to_left {
      
          0%   {background: white; left: 500px; right:500px;}
          25%  {background: white; left: 520px; right: 500px;}
          75%  {background: white; left: 520px; right: 500px;}
         
        }                
        }
        a:after {
        content:"Interactive Background";
        display:block;
        color:white;
        font-family: emoji;
        position: relative;
        bottom:37px;
        letter-spacing: normal;
        font-size: 26px;
        transform: scale(0);
        right: 17px;
        transition: .5s;
        animation: left_to_right 3s ease;
        animation-delay: 3s;
        }
         a:hover:after {
         transform: scale(1);
         opacity: 1;
      
         }
         @keyframes left_to_right {
         from {
           margin-left: -100%;
         }
         to {
           margin-left: 0;
           }
         }                
 #menuToggle input
 {
   display: block;
   width: 40px;
   height: 32px;
   position: absolute;
   top: -7px;
   left: -5px;
   cursor: pointer;
   opacity: 0; 
   z-index: 2;
   -webkit-touch-callout: none;
 }

 #menuToggle span
 {
   display: block;
   width: 33px;
   height: 4px;
   margin-bottom: 5px;
   position: relative;
   background: #cdcdcd;
   border-radius: 3px;
   z-index: 1;
   transform-origin: 4px 0px;
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               opacity 0.55s ease;
 }
 
 #menuToggle span:first-child
 {
   transform-origin: 0% 0%;
 }
 
 #menuToggle span:nth-last-child(2)
 {
   transform-origin: 0% 100%;
 }
 #menuToggle input:checked ~ span
 {
   opacity: 1;
   transform: rotate(45deg) translate(-2px, -1px);
   background:#fed700;
 }
 #menuToggle input:checked ~ span:nth-last-child(3)
 {
   opacity: 0;
   transform: rotate(0deg) scale(0.2, 0.2);
 }
 #menuToggle input:checked ~ span:nth-last-child(2)
 {
   transform: rotate(-45deg) translate(0, -1px);
 }
 #menu
 {

  display: none;
  height: 100vh;
  position: absolute;
  width: 1368px;
  margin: -48px -14px 3px -26px;
  padding-top: 80px;
  background-color: #ffab00;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  right: 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
 }
 #menu li
 {
   padding: 10px 0;
   font-size: 22px;
 }

 #menuToggle input:checked ~ ul
 {
   transform: none;
  display: block;

}
#menuToggle input:checked ~ .border-bg {
  z-index: 1;
  position: absolute;
  right: -1px;
  opacity: 1;
  top: -17px;
}
 
}